@inherits DaisyComponentBase;

<button class="@Classes" @attributes="@AdditionalAttributes" disabled="@Disabled">
    @if (IsLoading)
    {
        <span class="d-loading d-loading-spinner"></span>
    }
    @ChildContent
</button>