@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="d-btn d-btn-neutral">Neutral</button>
<button class="d-btn d-btn-primary">Primary</button>
<button class="d-btn d-btn-secondary">Secondary</button>
<button class="d-btn d-btn-accent">Accent</button>
<button class="d-btn d-btn-info">Info</button>
<button class="d-btn d-btn-success">Success</button>
<button class="d-btn d-btn-warning">Warning</button>
<button class="d-btn d-btn-error">Error</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
