@page "/"
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<AuthorizeView>
    <NotAuthorized>
        <a href="/signin">
            <img src="/img/sits_small.png" />
        </a>
    </NotAuthorized>
    
    <Authorized>
        @context.User.FindFirst(ClaimTypes.NameIdentifier).Value

        <a href="/logout">Sign Out</a>
    </Authorized>
</AuthorizeView>
