@page "/"
@using Ludus.Client.Features.Games.Components

<PageTitle>Home</PageTitle>

<MudContainer Class="mt-8" MaxWidth="MaxWidth.ExtraExtraLarge">
    <div class="d-flex gap-8">

        <MudPaper Class="d-flex pa-4" Width="80%" Elevation="0">
            <MudGrid Justify="Justify.FlexStart" Spacing="4">
                @if (RatedGames?.Games is not null)
                {
                    @foreach (var game in RatedGames.Games)
                    {
                        <!-- 
                        <MudItem xs="12" md="4" lg="3" xl="2">
                        
                        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                        -->
                        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                            <GameCard Game="@game"/>
                        </MudItem>
                    }

                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudButton FullWidth="true" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary"
                                   Size="Size.Large" Class="mt-4">
                            Load more
                        </MudButton>
                    </MudItem>
                }
                else
                {
                    @for (int i = 0; i < _papers; i++)
                    {
                        <MudItem xs="3">
                            <MudCard Elevation="0" Class="rounded-lg"
                                     Style="background: var(--mud-palette-background-gray); height: 100%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
                                <MudCardContent>
                                    <MudSkeleton Width="30%" Height="42px;"/>
                                    <MudSkeleton Width="80%"/>
                                    <MudSkeleton Width="100%"/>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                                    <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                }

            </MudGrid>
        </MudPaper>

    </div>
</MudContainer>

<!--
<AuthorizeView>
    <NotAuthorized>
        <a href="/signin">
            <img src="/img/sits_small.png"/>
        </a>
    </NotAuthorized>
    
    <Authorized>
        @context.User.FindFirst(ClaimTypes.NameIdentifier).Value

        <a href="/logout">Sign Out</a>
    </Authorized>
</AuthorizeView>
-->