@import "tailwindcss";

/*
@import "tailwindcss" source(none);
 */
@plugin "daisyui" {
    themes: cupcake --default, lemonade;
    prefix: "d-";
    logs: true;
}

@source "../{Pages,Components,Layout}/**/*.{razor,razor.cs}";
