.card {
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
}

.item {
    background-color: var(--mantine-color-body);
    transition:
        box-shadow 150ms ease,
        transform 150ms ease;

    @mixin hover {
        box-shadow: var(--mantine-shadow-sm);
        transform: scale(1.02);
    }
}

.heart {
    transition: transform 0.2s;
    cursor: pointer;
}
.heart:active {
    transform: scale(1.2);
}
.pulse {
    animation: pulse 0.5s 1;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
