<div class="tw:d-navbar tw:bg-base-100 tw:shadow-sm">
    <div class="tw:flex-1">
        <a class="tw:d-btn tw:d-btn-ghost tw:text-xl">Ludus</a>
    </div>
    <div class="tw:flex tw:gap-2">
        <div class="tw:d-dropdown tw:d-dropdown-end">
            @if (Authenticated)
            {
                <div tabindex="0" role="button" class="tw:d-btn tw:d-btn-ghost tw:d-btn-circle tw:d-avatar">
                    <div class="tw:w-10 tw:rounded-full">
                        <img
                            alt="Tailwind CSS Navbar component"
                            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                    </div>
                </div>
                
                <ul
                    tabindex="0"
                    class="tw:d-menu tw:d-menu-sm tw:d-dropdown-content tw:bg-base-100 tw:rounded-box tw:z-1 tw:mt-3 tw:w-52 tw:p-2 tw:shadow">
                    <li>
                        <a class="tw:justify-between">
                            Profile
                            <span class="tw:d-badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            }

        </div>
    </div>
</div>