<MudCard Elevation="0" Class="rounded-lg cursor-pointer hover-card"
         Style="background: var(--mud-palette-background-gray); height: 100%"
         @onclick="NavigateToDetails"
>
    <div class="relative hover-card">
        <div class="media-container">
            <MudCardMedia Image="img/co7n02.jpeg" Height="250" Class="object-cover" />
            <div class="media-overlay"></div>
        </div>

        <MudStack Row="true" Class="hover-controls">
            <MudIconButton @onclick="OpenDialogAsync" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Tertiary" Class="rounded-lg" />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-lg" />
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Secondary" Class="rounded-lg" />
        </MudStack>

    </div>

    <MudCardContent>
        <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium">@Game.Name</MudTextM3>
    </MudCardContent>
</MudCard>
<style>
    .hover-card {
        position: relative;
        overflow: hidden;
    }

    .media-container {
        position: relative;
    }

    .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); /* Just darken the image */
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
        pointer-events: none; /* Let clicks pass through */
    }

    .hover-controls {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        gap: 0.5rem;
    }

    .hover-card:hover .hover-controls,
    .hover-card:hover .media-overlay {
        opacity: 100%;
    }
</style>