@inherits DaisyComponentBase;

<CascadingValue Value="this">
    <div role="tablist" class="@Classes">
        @foreach (var tab in Tabs.Values.OrderBy(t => t.Index))
        {
            @tab.TabContent
        }
    </div>
    <div class="tab-content">
        @if (ActiveTabId is not null && Tabs.ContainsKey(ActiveTabId))
        {
            @Tabs[ActiveTabId].Content
        }
    </div>
</CascadingValue>