@using Ludus.Client.Features.Navbar
@inherits LayoutComponentBase
<div class="h-screen">
    <div class="w-full">
        <DaisyNavBar />
    </div>

    <main class="mt-8 p-4">
            @Body
    </main>
</div>
